# PyCity Schools Analysis

Within the PyCitySchools District there are a total of 15 High Schools serving a combined enrollment of 39,170 students. The operating cost of these 15 schools is approximately $24.65M. Standardized test scores within the district show approximately 3 in 4 students pass math (75.0%) and 5 in 6 students pass reading (85.8%); only 2 out of 3 students pass both math and reading (65.2%).

The PyCitySchools District includes 7 District schools and 8 Charter Schools. The District schools tend to have significantly larger enrollments, with the smallest being Ford High School with 2739 students and the largest being Bailey High School with 4976 students. This is in stark contrast to the Charter schools where the largest campus is Wilson High School with 2283 students and the smallest campus is Holden High School with just 427 students. At all schools, the average math score fluctuates between 76 â€“ 84 whereas the reading score fluctuates within a smaller range of 80-84. 

The five top performing schools are all Charter schools with an overall passing rate of 90.5% or better for all enrolled students. The five bottom performing schools are all District schools with an overall passing rate of 53.5% or lower for all enrolled students.

Math scores at each high school are generally flat across all 4 grades and do not show improvement or decline. Reading scores at each high school show the same trend and are also generally flat across all 4 grades and do not show any marked improvement or decline.

In comparing the amount of money spent per student to test score performance, there appears to be an inverse relationship to testing performance outcomes. The more that is spent, the fewer students who pass math, reading, or overall. Therefore, increasing spending does not correlate to improved test scores. Similarly, comparing the size of each school to test score performance, there again appears to be an inverse relationship. The larger the school, the fewer number of students who pass math, reading, or overall. The best test scores and highest pass rates occur at the smaller schools, which in PyCitySchools District tends to be Charter schools.

---

## District Summary

In [1]:
# Dependencies and Setup
import csv
import os
import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
school_data_file = Path("Resources/schools_complete.csv")
student_data_file = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_file)
student_data = pd.read_csv(student_data_file)

# Combine the data into a single dataset.
school_data_complete = pd.merge(student_data, school_data, how="left", on="school_name")
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [2]:
# Calculate the total number of unique schools
school_count = school_data_complete["school_name"].nunique()
school_count

15

In [3]:
# Calculate the total number of students
student_count = school_data_complete["Student ID"].nunique()
student_count

39170

In [4]:
# Calculate the total budget
total_budget = school_data["budget"].sum()
print(total_budget)

24649428

In [5]:
# Calculate the average (mean) math score
average_math_score = school_data_complete["math_score"].mean()
print(average_math_score)

78.98537145774827

In [6]:
# Calculate the average (mean) reading score
average_reading_score = school_data_complete["reading_score"].mean()
print(average_reading_score)

81.87784018381414

In [7]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
print(passing_math_percentage)

74.9808526933878

In [8]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
print(passing_reading_percentage)

85.80546336482001

In [9]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[(school_data_complete["math_score"] >= 70)
    & (school_data_complete["reading_score"] >= 70)].count()["student_name"]
overall_passing_rate = passing_math_reading_count / float(student_count) * 100
print(overall_passing_rate)

65.17232575950983

In [10]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = pd.DataFrame({
    "Total Schools":[school_count],
    "Total Students":[student_count],
    "Total Budget":[total_budget],
    "Average Math Score":[average_math_score],
    "Average Reading Score":[average_reading_score],
    "% Passing Math":[passing_math_percentage],
    "% Passing Reading":[passing_reading_percentage],
    "% Overall Passing":[overall_passing_rate],
})

# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

In [11]:
# Use the code provided to select the type per school from school_data
school_types = school_data.set_index(["school_name"])["type"].sort_index()
school_types

school_name
Bailey High School       District
Cabrera High School       Charter
Figueroa High School     District
Ford High School         District
Griffin High School       Charter
Hernandez High School    District
Holden High School        Charter
Huang High School        District
Johnson High School      District
Pena High School          Charter
Rodriguez High School    District
Shelton High School       Charter
Thomas High School        Charter
Wilson High School        Charter
Wright High School        Charter
Name: type, dtype: object

In [12]:
# Calculate the total student count per school from school_data
per_school_count = student_data.groupby(["school_name"]).count()["Student ID"]
per_school_count

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: Student ID, dtype: int64

In [13]:
# Calculate the total school budget from school_data
per_school_budget = school_data.set_index(["school_name"])["budget"].sort_index()
per_school_budget

school_name
Bailey High School       3124928
Cabrera High School      1081356
Figueroa High School     1884411
Ford High School         1763916
Griffin High School       917500
Hernandez High School    3022020
Holden High School        248087
Huang High School        1910635
Johnson High School      3094650
Pena High School          585858
Rodriguez High School    2547363
Shelton High School      1056600
Thomas High School       1043130
Wilson High School       1319574
Wright High School       1049400
Name: budget, dtype: int64

In [14]:
# Calculate the per capita spending per school from school_data
per_school_capita = per_school_budget/per_school_count
per_school_capita

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [15]:
# Calculate the average test scores per school from school_data_complete
per_school_math_avg = school_data_complete.groupby(["school_name"])["math_score"].mean()
per_school_math_avg

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [16]:
# Calculate the average test scores per school from school_data_complete
per_school_reading_avg = school_data_complete.groupby(["school_name"])["reading_score"].mean()
per_school_reading_avg

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [17]:
# Calculate the number of students per school with math scores of 70 or higher from school_data_complete
students_passing_math = school_data_complete[(school_data_complete["math_score"] >= 70)]
per_school_students_passing_math_count = students_passing_math.groupby(["school_name"]).size()
per_school_students_passing_math_count

school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
dtype: int64

In [18]:
# Calculate the number of students per school with reading scores of 70 or higher from school_data_complete
students_passing_reading = school_data_complete[(school_data_complete["reading_score"] >= 70)]
per_school_students_passing_reading_count = students_passing_reading.groupby(["school_name"]).size()
per_school_students_passing_reading_count

school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
dtype: int64

In [19]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_overall_passing = school_data_complete[(school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)]
per_school_students_overall_passing_count = students_overall_passing.groupby(["school_name"]).size()
per_school_students_overall_passing_count

school_name
Bailey High School       2719
Cabrera High School      1697
Figueroa High School     1569
Ford High School         1487
Griffin High School      1330
Hernandez High School    2481
Holden High School        381
Huang High School        1561
Johnson High School      2549
Pena High School          871
Rodriguez High School    2119
Shelton High School      1583
Thomas High School       1487
Wilson High School       2068
Wright High School       1626
dtype: int64

In [20]:
# Use the provided code to calculate the passing rates
per_school_passing_math_percent = per_school_students_passing_math_count / per_school_count * 100
per_school_passing_math_percent

school_name
Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
dtype: float64

In [21]:
# Use the provided code to calculate the passing rates
per_school_passing_reading_percent = per_school_students_passing_reading_count / per_school_count * 100
per_school_passing_reading_percent

school_name
Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
dtype: float64

In [22]:
# Use the provided code to calculate the passing rates
per_school_overall_passing_percent = per_school_students_overall_passing_count / per_school_count * 100
per_school_overall_passing_percent

school_name
Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64

In [23]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
# Use the code provided to select the type per school from school_data
per_school_summary = pd.DataFrame(school_data).drop(columns=["School ID"]).set_index(["school_name"]).sort_index()
per_school_summary = per_school_summary.rename(columns={"school_name":"School Name", "type":"School Type", "size":"Total Students", "budget":"Total School Budget"})
per_school_summary["Per Student Budget"] = per_school_capita
per_school_summary["Average Math Score"] = per_school_math_avg
per_school_summary["Average Reading Score"] = per_school_reading_avg
per_school_summary["% Passing Math"] = per_school_passing_math_percent
per_school_summary["% Passing Reading"] = per_school_passing_reading_percent
per_school_summary["% Overall Passing"] = per_school_overall_passing_percent

# Create copies of dataframe before applying formatting for future use
school_spending_summary = per_school_summary.copy()
school_size_summary = per_school_summary.copy()
school_type_summary = per_school_summary.copy()

# Formatting
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)
per_school_summary["Average Math Score"] = per_school_summary["Average Math Score"].map("{:,.2f}".format)
per_school_summary["Average Reading Score"] = per_school_summary["Average Reading Score"].map("{:,.2f}".format)
per_school_summary["% Passing Math"] = per_school_summary["% Passing Math"].map("{:,.2f}%".format)
per_school_summary["% Passing Reading"] = per_school_summary["% Passing Reading"].map("{:,.2f}%".format)
per_school_summary["% Overall Passing"] = per_school_summary["% Overall Passing"].map("{:,.2f}%".format)

# Display the DataFrame
per_school_summary.index.name = None
per_school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.05,81.03,66.68%,81.93%,54.64%
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.06,83.98,94.13%,97.04%,91.33%
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.71,81.16,65.99%,80.74%,53.20%
Ford High School,District,2739,"$1,763,916.00",$644.00,77.10,80.75,68.31%,79.30%,54.29%
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.35,83.82,93.39%,97.14%,90.60%
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.29,80.93,66.75%,80.86%,53.53%
Holden High School,Charter,427,"$248,087.00",$581.00,83.80,83.81,92.51%,96.25%,89.23%
Huang High School,District,2917,"$1,910,635.00",$655.00,76.63,81.18,65.68%,81.32%,53.51%
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.07,80.97,66.06%,81.22%,53.54%
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.59%,95.95%,90.54%
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.84,80.74,66.37%,80.22%,52.99%
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.36,83.73,93.87%,95.85%,89.89%
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.42,83.85,93.27%,97.31%,90.95%
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.27,83.99,93.87%,96.54%,90.58%
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.68,83.95,93.33%,96.61%,90.33%

## Highest-Performing Schools (by % Overall Passing)

In [24]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
top_schools = per_school_summary.sort_values("% Overall Passing", ascending=False)
top_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.06,83.98,94.13%,97.04%,91.33%
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.42,83.85,93.27%,97.31%,90.95%
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.35,83.82,93.39%,97.14%,90.60%
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.27,83.99,93.87%,96.54%,90.58%
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.59%,95.95%,90.54%

## Bottom Performing Schools (By % Overall Passing)

In [25]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
bottom_schools = per_school_summary.sort_values("% Overall Passing", ascending=True)
bottom_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.84,80.74,66.37%,80.22%,52.99%
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.71,81.16,65.99%,80.74%,53.20%
Huang High School,District,2917,"$1,910,635.00",$655.00,76.63,81.18,65.68%,81.32%,53.51%
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.29,80.93,66.75%,80.86%,53.53%
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.07,80.97,66.06%,81.22%,53.54%

## Math Scores by Grade

In [26]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the `math_score` column for each.
ninth_grader_math_scores = ninth_graders.groupby(["school_name"])["math_score"].mean()
tenth_grader_math_scores = tenth_graders.groupby(["school_name"])["math_score"].mean()
eleventh_grader_math_scores = eleventh_graders.groupby(["school_name"])["math_score"].mean()
twelfth_grader_math_scores = twelfth_graders.groupby(["school_name"])["math_score"].mean()

# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_grade = pd.DataFrame(school_data).drop(columns=["School ID", "type", "size", "budget"]).set_index(["school_name"]).sort_index()
math_scores_by_grade["Ninth Grade"] = ninth_grader_math_scores
math_scores_by_grade["Tenth Grade"] = tenth_grader_math_scores
math_scores_by_grade["Eleventh Grade"] = eleventh_grader_math_scores
math_scores_by_grade["Twelfth Grade"] = twelfth_grader_math_scores

# Formatting
math_scores_by_grade["Ninth Grade"] = math_scores_by_grade["Ninth Grade"].map("{:,.2f}".format)
math_scores_by_grade["Tenth Grade"] = math_scores_by_grade["Tenth Grade"].map("{:,.2f}".format)
math_scores_by_grade["Eleventh Grade"] = math_scores_by_grade["Eleventh Grade"].map("{:,.2f}".format)
math_scores_by_grade["Twelfth Grade"] = math_scores_by_grade["Twelfth Grade"].map("{:,.2f}".format)

# Minor data wrangling
math_scores_by_grade.index.name = None

# Display the DataFrame
math_scores_by_grade

                      Ninth Grade Tenth Grade Eleventh Grade Twelfth Grade
Bailey High School          77.08       77.00          77.52         76.49
Cabrera High School         83.09       83.15          82.77         83.28
Figueroa High School        76.40       76.54          76.88         77.15
Ford High School            77.36       77.67          76.92         76.18
Griffin High School         82.04       84.23          83.84         83.36
Hernandez High School       77.44       77.34          77.14         77.19
Holden High School          83.79       83.43          85.00         82.86
Huang High School           77.03       75.91          76.45         77.23
Johnson High School         77.19       76.69          77.49         76.86
Pena High School            83.63       83.37          84.33         84.12
Rodriguez High School       76.86       76.61          76.40         77.69
Shelton High School         83.42       82.92          83.38         83.78
Thomas High School          83.59       83.09          83.50         83.50
Wilson High School          83.09       83.72          83.20         83.04
Wright High School          83.26       84.01          83.84         83.64

## Reading Score by Grade

In [27]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the `reading_score` column for each.
ninth_grader_reading_scores = ninth_graders.groupby(["school_name"])["reading_score"].mean()
tenth_grader_reading_scores = tenth_graders.groupby(["school_name"])["reading_score"].mean()
eleventh_grader_reading_scores = eleventh_graders.groupby(["school_name"])["reading_score"].mean()
twelfth_grader_reading_scores = twelfth_graders.groupby(["school_name"])["reading_score"].mean()

# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`
reading_scores_by_grade = pd.DataFrame(school_data).drop(columns=["School ID", "type", "size", "budget"]).set_index(["school_name"]).sort_index()
reading_scores_by_grade["Ninth Grade"] = ninth_grader_reading_scores
reading_scores_by_grade["Tenth Grade"] = tenth_grader_reading_scores
reading_scores_by_grade["Eleventh Grade"] = eleventh_grader_reading_scores
reading_scores_by_grade["Twelfth Grade"] = twelfth_grader_reading_scores

# Formatting
reading_scores_by_grade["Ninth Grade"] = reading_scores_by_grade["Ninth Grade"].map("{:,.2f}".format)
reading_scores_by_grade["Tenth Grade"] = reading_scores_by_grade["Tenth Grade"].map("{:,.2f}".format)
reading_scores_by_grade["Eleventh Grade"] = reading_scores_by_grade["Eleventh Grade"].map("{:,.2f}".format)
reading_scores_by_grade["Twelfth Grade"] = reading_scores_by_grade["Twelfth Grade"].map("{:,.2f}".format)

# Minor data wrangling
reading_scores_by_grade.index.name = None

# Display the DataFrame
reading_scores_by_grade

                      Ninth Grade Tenth Grade Eleventh Grade Twelfth Grade
Bailey High School          81.30       80.91          80.95         80.91
Cabrera High School         83.68       84.25          83.79         84.29
Figueroa High School        81.20       81.41          80.64         81.38
Ford High School            80.63       81.26          80.40         80.66
Griffin High School         83.37       83.71          84.29         84.01
Hernandez High School       80.87       80.66          81.40         80.86
Holden High School          83.68       83.32          83.82         84.70
Huang High School           81.29       81.51          81.42         80.31
Johnson High School         81.26       80.77          80.62         81.23
Pena High School            83.81       83.61          84.34         84.59
Rodriguez High School       80.99       80.63          80.86         80.38
Shelton High School         84.12       83.44          84.37         82.78
Thomas High School          83.73       84.25          83.59         83.83
Wilson High School          83.94       84.02          83.76         84.32
Wright High School          83.83       83.81          84.16         84.07

## Scores by School Spending

In [28]:
# Establish the bins
spending_bins = [0, 585, 630, 645, 680]
spending_labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [29]:
# Use `pd.cut` on the per_school_capita Series from earlier to categorize per student spending based on the bins.
school_spending_summary["Spending Ranges (Per Student)"] = pd.cut(school_spending_summary["Per Student Budget"], spending_bins,
                                                                  labels=spending_labels, include_lowest=True)
school_spending_summary = school_spending_summary.drop(["School Type", "Total Students", "Total School Budget", "Per Student Budget"], axis=1)
school_spending_summary.index.name = None
school_spending_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student)
Bailey High School,77.048432,81.033963,66.680064,81.933280,54.642283,$585-630
Cabrera High School,83.061895,83.975780,94.133477,97.039828,91.334769,<$585
Figueroa High School,76.711767,81.158020,65.988471,80.739234,53.204476,$630-645
Ford High School,77.102592,80.746258,68.309602,79.299014,54.289887,$630-645
Griffin High School,83.351499,83.816757,93.392371,97.138965,90.599455,$585-630
Hernandez High School,77.289752,80.934412,66.752967,80.862999,53.527508,$645-680
Holden High School,83.803279,83.814988,92.505855,96.252927,89.227166,<$585
Huang High School,76.629414,81.182722,65.683922,81.316421,53.513884,$645-680
Johnson High School,77.072464,80.966394,66.057551,81.222432,53.539172,$645-680
Pena High School,83.839917,84.044699,94.594595,95.945946,90.540541,$585-630
Rodriguez High School,76.842711,80.744686,66.366592,80.220055,52.988247,$630-645
Shelton High School,83.359455,83.725724,93.867121,95.854628,89.892107,$585-630
Thomas High School,83.418349,83.848930,93.272171,97.308869,90.948012,$630-645
Wilson High School,83.274201,83.989488,93.867718,96.539641,90.582567,<$585
Wright High School,83.682222,83.955000,93.333333,96.611111,90.333333,<$585

In [30]:
#  Calculate averages for the desired columns.
spending_math_scores = school_spending_summary.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
spending_reading_scores = school_spending_summary.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_math = school_spending_summary.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
spending_passing_reading = school_spending_summary.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
overall_passing_spending = school_spending_summary.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

C:\Users\wcdavis\AppData\Local\Temp\1\ipykernel_25664\2053392035.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  spending_math_scores = school_spending_summary.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
C:\Users\wcdavis\AppData\Local\Temp\1\ipykernel_25664\2053392035.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  spending_reading_scores = school_spending_summary.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
C:\Users\wcdavis\AppData\Local\Temp\1\ipykernel_25664\2053392035.py:4: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  spending_passing_math = school_spending_summary.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
C:\Users\wcdavis\AppData\Local\Temp\1\ipykernel_25664\2053392035.py:5: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  spending_passing_reading = school_spending_summary.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
C:\Users\wcdavis\AppData\Local\Temp\1\ipykernel_25664\2053392035.py:6: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  overall_passing_spending = school_spending_summary.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

In [31]:
# Assemble into DataFrame
spending_summary = pd.DataFrame ({"Average Math Score" : spending_math_scores,
                                  "Average Reading Score" : spending_reading_scores,
                                  "% Passing Math" : spending_passing_math, 
                                  "% Passing Reading" : spending_passing_reading,
                                  "% Overall Passing" : overall_passing_spending})

# Formatting
spending_summary["Average Math Score"] = spending_summary["Average Math Score"].map("{:,.2f}".format)
spending_summary["Average Reading Score"] = spending_summary["Average Reading Score"].map("{:,.2f}".format)
spending_summary["% Passing Math"] = spending_summary["% Passing Math"].map("{:,.2f}%".format)
spending_summary["% Passing Reading"] = spending_summary["% Passing Reading"].map("{:,.2f}%".format)
spending_summary["% Overall Passing"] = spending_summary["% Overall Passing"].map("{:,.2f}%".format)

# Display results
spending_summary.index.name = "Spending Ranges (Per Student)"
spending_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$585,83.46,83.93,93.46%,96.61%,90.37%
$585-630,81.90,83.16,87.13%,92.72%,81.42%
$630-645,78.52,81.62,73.48%,84.39%,62.86%
$645-680,77.00,81.03,66.16%,81.13%,53.53%

## Scores by School Size

In [32]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
size_labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [33]:
# Use `pd.cut` on the per_school_counts Series from earlier to categorize school size based on the bins.
school_size_summary["School Size"] = pd.cut(school_size_summary["Total Students"], size_bins, labels=size_labels, include_lowest=True)
school_size_summary.index.name = None
school_size_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,School Size
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,54.642283,Large (2000-5000)
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769,Medium (1000-2000)
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476,Large (2000-5000)
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,54.289887,Large (2000-5000)
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455,Medium (1000-2000)
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508,Large (2000-5000)
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.505855,96.252927,89.227166,Small (<1000)
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884,Large (2000-5000)
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172,Large (2000-5000)
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541,Small (<1000)
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247,Large (2000-5000)
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,89.892107,Medium (1000-2000)
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012,Medium (1000-2000)
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567,Large (2000-5000)
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,90.333333,Medium (1000-2000)

In [34]:
# Calculate averages for the desired columns.
size_math_scores = school_size_summary.groupby(["School Size"])["Average Math Score"].mean()
size_reading_scores = school_size_summary.groupby(["School Size"])["Average Reading Score"].mean()
size_passing_math = school_size_summary.groupby(["School Size"])["% Passing Math"].mean()
size_passing_reading = school_size_summary.groupby(["School Size"])["% Passing Reading"].mean()
size_overall_passing = school_size_summary.groupby(["School Size"])["% Overall Passing"].mean()

C:\Users\wcdavis\AppData\Local\Temp\1\ipykernel_25664\2584366124.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  size_math_scores = school_size_summary.groupby(["School Size"])["Average Math Score"].mean()
C:\Users\wcdavis\AppData\Local\Temp\1\ipykernel_25664\2584366124.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  size_reading_scores = school_size_summary.groupby(["School Size"])["Average Reading Score"].mean()
C:\Users\wcdavis\AppData\Local\Temp\1\ipykernel_25664\2584366124.py:4: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  size_passing_math = school_size_summary.groupby(["School Size"])["% Passing Math"].mean()
C:\Users\wcdavis\AppData\Local\Temp\1\ipykernel_25664\2584366124.py:5: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  size_passing_reading = school_size_summary.groupby(["School Size"])["% Passing Reading"].mean()
C:\Users\wcdavis\AppData\Local\Temp\1\ipykernel_25664\2584366124.py:6: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  size_overall_passing = school_size_summary.groupby(["School Size"])["% Overall Passing"].mean()

In [35]:
# Assemble into DataFrame
size_summary = pd.DataFrame ({"Average Math Score" : size_math_scores,
                                  "Average Reading Score" : size_reading_scores,
                                  "% Passing Math" : size_passing_math, 
                                  "% Passing Reading" : size_passing_reading,
                                  "% Overall Passing" : size_overall_passing})

# Formatting
size_summary["Average Math Score"] = size_summary["Average Math Score"].map("{:,.2f}".format)
size_summary["Average Reading Score"] = size_summary["Average Reading Score"].map("{:,.2f}".format)
size_summary["% Passing Math"] = size_summary["% Passing Math"].map("{:,.2f}%".format)
size_summary["% Passing Reading"] = size_summary["% Passing Reading"].map("{:,.2f}%".format)
size_summary["% Overall Passing"] = size_summary["% Overall Passing"].map("{:,.2f}%".format)

# Display results
size_summary.index.name = "School Size"
size_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),83.82,83.93,93.55%,96.10%,89.88%
Medium (1000-2000),83.37,83.86,93.60%,96.79%,90.62%
Large (2000-5000),77.75,81.34,69.96%,82.77%,58.29%

## Scores by School Type

In [36]:
# Group the per_school_summary DataFrame by "School Type" and average the results.
average_math_score_by_type = school_type_summary.groupby(["School Type"])["Average Math Score"].mean()
average_reading_score_by_type = school_type_summary.groupby(["School Type"])["Average Reading Score"].mean()
average_percent_passing_math_by_type = school_type_summary.groupby(["School Type"])["% Passing Math"].mean()
average_percent_passing_reading_by_type = school_type_summary.groupby(["School Type"])["% Passing Reading"].mean()
average_percent_overall_passing_by_type = school_type_summary.groupby(["School Type"])["% Overall Passing"].mean()

In [37]:
# Assemble into DataFrame
type_summary = pd.DataFrame ({"Average Math Score" : average_math_score_by_type,
                              "Average Reading Score" : average_reading_score_by_type,
                              "% Passing Math" : average_percent_passing_math_by_type, 
                              "% Passing Reading" : average_percent_passing_reading_by_type,
                              "% Overall Passing" : average_percent_overall_passing_by_type})

# Formatting
type_summary["Average Math Score"] = type_summary["Average Math Score"].map("{:,.2f}".format)
type_summary["Average Reading Score"] = type_summary["Average Reading Score"].map("{:,.2f}".format)
type_summary["% Passing Math"] = type_summary["% Passing Math"].map("{:,.2f}%".format)
type_summary["% Passing Reading"] = type_summary["% Passing Reading"].map("{:,.2f}%".format)
type_summary["% Overall Passing"] = type_summary["% Overall Passing"].map("{:,.2f}%".format)

# Display results
type_summary.index.name = "School Type"
type_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.47,83.90,93.62%,96.59%,90.43%
District,76.96,80.97,66.55%,80.80%,53.67%